:root {
    --teal: #6ec6af;
    --light: rgb(245, 255, 252);
    --green: #85db51;
    --navy: #282f56;
    --purple: #9d65b5;
    --lavender: rgb(222, 184, 238);
    --indigo: #3a00a9;
    --aqua: #00dcfe;
    --light-aqua: #e3ebec;
    --black:#000000;
  
    --ff-primary: "Inconsolata", sans-serif;
    --ff-secondary: "Space Mono", sans-serif;
  }

  button{
    background-color: transparent;
    border: transparent;
  }