:root{
    --indigo: #575bd1;
    --charlotte:#cceefb;
    --geraldine:#f99d7b;
    --sweetcorn:#fade8a;
    --biloba:#a99deb;
    --boticelli:#dce5ef;
    --apricot:#f19283;
    --cherokee:#fbc493;
    --lavender:#faa0c7;
    --electric:#e223ef;

    --title-font:'IBM Plex Mono', monospace;
    --input-font:'IBM Plex Mono', monospace;
    --buttons-font:'Inter', sans-serif;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#app{
    background-color: var(--boticelli);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}