:root{
    --indigo: #575bd1;
    --deep:#0e128b;
    --charlotte:#cceefb;
    --geraldine:#f99d7b;
    --sweetcorn:#fade8a;
    --biloba:#a99deb;
    --boticelli:#dce5ef;
    --apricot:#f19283;
    --cherokee:#fbc493;
    --lavender:#faa0c7;
    --electric:#e223ef;

    --title-font:'IBM Plex Mono', monospace;
    --input-font:'IBM Plex Mono', monospace;
    --buttons-font:'Inter', sans-serif;
}

input{
    background-color: transparent;
    border:none;
    border-bottom: 1px  solid var(--indigo);
    font-family: var(--input-font);
    font-weight: 600;
    color: var(--deep);
}

input:focus{
    border:none;
    border-bottom: 1px  solid var(--indigo);
    outline: none;
  
}