:root {
  --indigo: #575bd1;
  --deep: #0e128b;
  --charlotte: #cceefb;
  --geraldine: #f99d7b;
  --sweetcorn: #fade8a;
  --biloba: #a99deb;
  --boticelli: #dce5ef;
  --apricot: #f19283;
  --cherokee: #fbc493;
  --lavender: #faa0c7;
  --electric: #e223ef;

  --title-font: "IBM Plex Mono", monospace;
  --input-font: "IBM Plex Mono", monospace;
  --buttons-font: "Inter", sans-serif;
}

.singleChecklistItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin:7px;
  width: 200px;
 
}
.buttons{
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
}
.singleChecklistItem input {
  appearance: none;
  -webkit-appearance: none;
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 7px;
  border: 3px solid var(--electric);
  background-color: transparent;
  outline: none;
}

input:checked {
  background-color: var(--electric);
  position: relative;
}

input:checked::before{
  content: "\2714";
  font-size: 1.5em;
  color: var(--sweetcorn);
  position: absolute;
  right: 1px;
  top: -5px;
}

span{
  font-family: var(--input-font);
  color: var(--deep);

}

.singleChecklistItem button{
  background-color: transparent;
  border:none;
  color: var(--indigo);
  margin: 7px;
  transition: transform 0.3s ease-in-out;

}

.singleChecklistItem button:hover{
  color: var(--apricot);
    animation: shake 1s infinite ;
  
}

@keyframes shake{
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(-45deg);
  }
}