body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.container{
  display: flex;
  justify-content: center;
  align-items: flex-start; 
}

.sidebarWrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
  float: left;
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.markdownWrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
}