#sidebar{
    display: flex;
    flex-direction: column;
}

.sidebarHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.sidebarTitle{
    padding:10px 10px 10px 2px;
}

.toggleButton{
    padding: 10px;
}

ul{
    list-style: none;
}

li{
    margin: 15px;
    padding: 10px;
}
#cheatsheet{
    padding-right:5px ;
}
#folder{
    padding-right: 5px;
}